{% extends "base.html" %}

{% block "content" %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login</h1>
                <form action="{% url 'auth:login' %}" method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                <div><input type="submit" value="Login"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}