{% extends "base.html" %}

{% block "content" %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Logout</h1>
                <p>You have been logged out.</p>
            </div>
        </div>
    </div>

{% endblock %}