{% extends 'base.html' %}

{% block "content" %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Course Detail</h1>
                <p>{{ course.name }}</p>
                <ul>
                    {% for section in course.section_set.all %}
                    <li><a href="{{ section.get_absolute_url }}">{{ section }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}