<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do Section</title>
</head>
<body>
    <p>Section {{ section.number }}: {{ section.title }}</p>
    <p>
        {{ section.text }}
    </p>

    <p><a href="{{ section.get_test_url }}">Take the Test</a></p>
</body>
</html>