<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do Test</title>
</head>
<body>
    <p>Test for Section {{ section.number }}: {{ section.title }}</p>

    <hr/>

    <form action="" method="POST">
        {% csrf_token %}
        {% for question in section.question_set.all %}
        <p><strong>{{ question.text }}</strong></p>
        <ul>
            {% for answer in question.answer_set.all %}
            <li>
                <input type="radio" name="question-{{ question.id }}" value="{{ answer.id }}">{{ answer }}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
</body>
</html>