<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <p>Hello {{ who| upper }} !</p>

    <p>{% lorem %}</p>

    {% comment %}
    <p>test</p>
    {% endcomment %}

</body>
</html>