<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Results</title>
</head>
<body>
    <h1>Your Results</h1>
    <p> You scored {{ score }}%</p>

    <ul>
        <li><a href="{{ section.get_next_section_url }}">Next Section</a></li>
        <li><a href="{{ section.get_test_url }}">Try again</a></li>
    </ul>

</body>
</html>